<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rutulus Soluciones</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/background.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenid@ a <span> Rutulus</span></h1>
            <p class="animated fadeInRightBig">Soluciones Tecnólogicas</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Comenzar</a>
          </div>
        </div>
        
      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div>
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Inicio</a></li>
            <li class="scroll"><a href="#services">¿Qué hacemos?</a></li> 
            <li class="scroll"><a href="#about-us">Acerca de Nosotros</a></li>                     
            <li class="scroll"><a href="#portfolio">Portfolio</a></li>
            <!--<li class="scroll"><a href="#team">Equipo</a></li>-->
            <li class="scroll"><a href="#contact">Contacto</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Nuestros servicios y productos</h2>         
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
			
			<div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="service-icon">
              <i class="fa fa-cube"></i>
            </div>
            <div class="service-info">
              <h3>Soluciones a medida</h3>
              <p>Analizamos y desarrollamos soluciones para nuestros clientes, integrando tecnologías que se adaptan a necesidades reales.</p>

            </div>
          </div>
          
           <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-diamond"></i>
            </div>
            <div class="service-info">
              <h3>Diseño Profesional</h3>
              <p>Entendendemos que la calidad y accesibilidad es fundamental para que el usuario tenga una experiencia satisfactoria.</p>
            </div>
          </div>
          
           <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-wifi"></i>
            </div>
            <div class="service-info">
              <h3>IoT</h3>
              <p>Automatización, ahorro energético y gestión de artefactos hogareños e industriales son algunas de las ventajas de las soluciones que ofrecemos.</p>
            </div>
          </div>
      </div>
       <div class="row">
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="service-icon">
              <i class="fa fa-desktop"></i>
            </div>
            <div class="service-info">
              <h3>Desarrollo web</h3>
              <p>La comunicación electrónica hoy en día es fundamental por eso contamos con la  experiencia necesaria para diseñar y enteder que comunicar y como en un sitio web.</p>              
			     </div>
          </div>
          
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1200ms">
            <div class="service-icon">
              <i class="fa fa-mobile"></i>
            </div>
            <div class="service-info">
              <h3>Desarrollo mobile</h3>
              <p>El uso de dispositivos móviles es tendendia mundial por lo que en nuestras soluciones ofrecemos la oportunidad de hacer una aplicación mobile para sus necesidades.</p>
            </div>            
          </div>
     
      
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1400ms">
            <div class="service-icon">
              <i class="fa fa-gears "></i>
            </div>
            <div class="service-info">
              <h3>Mantenimiento</h3>
              <p>Además de ofrecer garantía y calidad en nuestros productos, ofrecemos mantenimiento en el tiempo porque creemos que hoy en día es fundamental que la tecnología tenga una evolución adecuada.</p>
            </div>
          </div>
          
         
          
          
          
         
        
        </div>
      </div>
    </div>
  </section><!--/#services-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Acerca de Nosotros</h2>
            <p>Somos un grupo de profesionales en sistemas y tecnología que nos dedicamos a resolver problemas del mundo real utilizando herramientas tecnológicas.</p>
            <p>Nuestras virtudes son la dedicación, el compromiso y la vocación por lo que hacemos. </p>
            <p>Entendemos y creemos que una idea en conjunto con un buen diseño, y la tecnología adecuada hace una solución verdadera y simple. </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p class="lead">Experiencia de Usuario</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
              <p class="lead">Web Design</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="80">80%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
              <p class="lead">Programación</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <p class="lead">Diversión</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85">85%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#about-us-->

  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Nuestro Portfolio</h2>
          <p>En esta galeria interactiva, podrá comprobar el nivel de calidad y dedicación de algunos de nuestros trabajos</p>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
             <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/smart_large.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>SMArt</h3>
                    <p>System Management ART</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-smart.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand">
                      <a href="images/portfolio/smart/1.png" data-lightbox="smart"><i class="fa fa-search-plus"></i></a>
                      <a href="images/portfolio/smart/2.png" style="display: none;"data-lightbox="smart"></a>
                      <a href="images/portfolio/smart/3.png" style="display: none;"data-lightbox="smart"></a>
                      <a href="images/portfolio/smart/4.png" style="display: none;"data-lightbox="smart"></a>
                      
            

                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
               <img class="img-responsive" src="images/portfolio/trenes.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>RBC</h3>
                    <p>Sistema de relevamiento de infraestructuras ferroviarias</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-trenes.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand">
						<a href="images/portfolio/trenes/mapa_detalle.png" data-lightbox="trenes">
						<i class="fa fa-search-plus"></i></a>
						<a href="images/portfolio/trenes/planilla_datos.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/mapa.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/planilla_deteccion_errores.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/planilla_errores_edicion.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/usuarios.png"style="display: none;" data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/android_login.png" style="display: none;" data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/android_operaciones.png" style="display: none;" data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/android_toma_img.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/backup_quincenal_encriptado.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/listado_planilla.png" style="display: none;"data-lightbox="trenes"></a>
					</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
               <img class="img-responsive" src="images/portfolio/bisport.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>BISport</h3>
                    <p>Business Intelligence Sport</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-bisport.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand">
						<a href="images/portfolio/bisport/1.png" data-lightbox="bisport">
						<i class="fa fa-search-plus"></i></a>
						<a href="images/portfolio/bisport/2.png" style="display: none;"data-lightbox="bisport"></a>
						<a href="images/portfolio/bisport/3.png" style="display: none;"data-lightbox="bisport"></a>
						<a href="images/portfolio/bisport/4.png" style="display: none;"data-lightbox="bisport"></a>
						<a href="images/portfolio/bisport/5.png" style="display: none;"data-lightbox="bisport"></a>
						<a href="images/portfolio/bisport/6.png" style="display: none;"data-lightbox="bisport"></a>
						
					</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
             <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/iot.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>SIoT</h3>
                    <p>System IoT</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-iot.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand">
                      <a href="images/portfolio/IoT/1.png" data-lightbox="siot"><i class="fa fa-search-plus"></i></a>
                      <a href="images/portfolio/IoT/2.png" style="display: none;"data-lightbox="siot"></a>
                      <a href="images/portfolio/IoT/3.png" style="display: none;"data-lightbox="siot"></a>
                      <a href="images/portfolio/IoT/4.png" style="display: none;"data-lightbox="siot"></a>
                      
            

                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->

  

  

  <section id="contact">
    <!--<div id="google-map" class="wow fadeIn" data-latitude="-34.9314" data-longitude="-57.9489" data-wow-duration="1000ms" data-wow-delay="400ms"></div>-->
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row" >
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 id="contact">Contacto</h2>
            
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Correo" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Asunto" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="2" placeholder="Coloca tu mensaje" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Enviar</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
             
                <ul class="address">
                  <!--li><i class="fa fa-map-marker"></i> <span> Dirección:</span> Nuestra dirección </li-->
                  <li><i class="fa fa-phone"></i> <span> Telefono:</span> +54 9 221 6119031  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:info@rutulus.com"> info@rutulus.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.rutulus.com</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="facebook" href="https://www.facebook.com/rutulus/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            
          </ul>
        </div>
      </div>
    </div>
    

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
