<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>HouseTic Soluciones</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/1.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenid@ a <span> HouseTic</span></h1>
            <p class="animated fadeInRightBig">Soluciones Informaticas</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Comenzar</a>
          </div>
        </div>
        
      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div>
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Inicio</a></li>
            <li class="scroll"><a href="#services">Servicios</a></li> 
            <li class="scroll"><a href="#about-us">Acerca de Nosotros</a></li>                     
            <li class="scroll"><a href="#portfolio">Portfolio</a></li>
            <!--<li class="scroll"><a href="#team">Equipo</a></li>-->
            <li class="scroll"><a href="#contact">Contacto</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Nuestros servicios</h2>         
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-flask"></i>
            </div>
            <div class="service-info">
              <h3>Desarrollo web</h3>
              <p>Tenemos amplia experiencia en desarrollo de sitios y páginas web</p>              
			     </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-mobile"></i>
            </div>
            <div class="service-info">
              <h3>Desarollo orientado a móviles</h3>
              <p>Nuestros desarrollos garantizan un excelente desempeño en dispositivos móviles</p>
            </div>
            
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-gift"></i>
            </div>
            <div class="service-info">
              <h3>Mantenimiento</h3>
              <p>Nuestro compromiso es dar el mejor servicio y con perdurabilidad en el tiempo</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-coffee"></i>
            </div>
            <div class="service-info">
              <h3>Diseño Profesional</h3>
              <p>Nuestro equipo de diseñadores gráficos y multimediales, entienden que la interdisiplina es fundamental para generar productos de calidad</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-bitbucket"></i>
            </div>
            <div class="service-info">
              <h3>Soluciones a medida</h3>
              <p>Brindamos soluciones utilizando tecnologías de vanguardia de acuerdo a las necesidades de nuestros clientes</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-cloud"></i>
            </div>
            <div class="service-info">
              <h3>Internet de las cosas</h3>
              <p>Trabajamos con sensores y automatización para uso hogareño e industrial</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#services-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Acerca de Nosotros</h2>
            <p>Somos un grupo de profesionales en sistemas. diseñadores gráficos y multimediales que nos dedicamos a realizar soluciones informáticas a medida.</p>
            <p>Nuestra virtud es la dedicación y el compromiso, nos especializamos en consultoría en tecnologías de información, en el desarrollo de aplicaciones y soluciones de negocio para medianas y grandes empresas en el sector educativo, industrias diversas, empresas de servicio y gobierno. </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p class="lead">Experiencia de Usuario</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
              <p class="lead">Web Design</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="80">80%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
              <p class="lead">Programación</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="75">75%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <p class="lead">Diversión</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85">85%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#about-us-->

  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Nuestro Portfolio</h2>
          <p>En esta galeria interactiva, podrá comprobar el nivel de calidad y dedicación de algunos de nuestros trabajos</p>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
             <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/smart_large.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>SMArt</h3>
                    <p>System Management ART</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-smart.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand">
                      <a href="images/portfolio/smart/1.png" data-lightbox="smart"><i class="fa fa-search-plus"></i></a>
                      <a href="images/portfolio/smart/2.png" style="display: none;"data-lightbox="smart"></a>
                      <a href="images/portfolio/smart/3.png" style="display: none;"data-lightbox="smart"></a>
                      <a href="images/portfolio/smart/4.png" style="display: none;"data-lightbox="smart"></a>
                      
            

                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
               <img class="img-responsive" src="images/portfolio/trenes.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>RBC</h3>
                    <p>Sistema de relevamiento de infraestructuras ferroviarias</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-trenes.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand">
						<a href="images/portfolio/trenes/mapa_detalle.png" data-lightbox="trenes">
						<i class="fa fa-search-plus"></i></a>
						<a href="images/portfolio/trenes/planilla_datos.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/mapa.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/planilla_deteccion_errores.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/planilla_errores_edicion.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/usuarios.png"style="display: none;" data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/android_login.png" style="display: none;" data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/android_operaciones.png" style="display: none;" data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/android_toma_img.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/backup_quincenal_encriptado.png" style="display: none;"data-lightbox="trenes"></a>
						<a href="images/portfolio/trenes/listado_planilla.png" style="display: none;"data-lightbox="trenes"></a>
					</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
			<div class="folio-image">
              <img class="img-responsive" src="images/portfolio/vista_para_cargar_una_ficha_large.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Cristóbal Colón</h3>
                    <p>Sistema de relevamiento del patrimonios arquitectónicos</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-relevamiento-patrimonial.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand"><a href="images/portfolio/bellas/vista_para_cargar_una_ficha_large.png" data-lightbox="bellas"><i class="fa fa-search-plus"></i></a>
						<a href="images/portfolio/bellas/busqueda_avanzada_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/busqueda_multimedial_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/imagen_1_cecore_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/pantalla_crear_tipo_de_ficha_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/pantallainiciocecore_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/pantalla_para_asignar_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/pantalla_para_nuevo_subsistema_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/pantallatiposdeficha_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/vista_dentro_de_un_tipo_de_ficha_large.png" style="display: none;"data-lightbox="bellas"></a>
						<a href="images/portfolio/bellas/vista_principal_dentro_de_un_sistema_large.png" style="display: none;"data-lightbox="bellas"></a>
                    
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
             <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/recrear.png" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Recrear</h3>
                    <p>Primera red social digital destinada a niñ@s de escuelas primarias</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-recrear.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand"><a href="images/portfolio/recrear/recrear_url.png" data-lightbox="recrear"><i class="fa fa-search-plus"></i></a>
                    <a href="images/portfolio/recrear/afiche.png" style="display: none;"data-lightbox="recrear"></a>
						<a href="images/portfolio/recrear/login.png" style="display: none;"data-lightbox="recrear"></a>
						<a href="images/portfolio/recrear/muro.png" style="display: none;"data-lightbox="recrear"></a>
						<a href="images/portfolio/recrear/ofensas.png" style="display: none;"data-lightbox="recrear"></a>
						<a href="images/portfolio/recrear/medalla_escudo.png" style="display: none;"data-lightbox="recrear"></a>
						<a href="images/portfolio/recrear/escuela.jpg" style="display: none;"data-lightbox="recrear"></a>
						<a href="images/portfolio/recrear/escuela2.jpg" style="display: none;"data-lightbox="recrear"></a>
                    
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
        
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->

  

  

  <section id="contact">
    <!--<div id="google-map" class="wow fadeIn" data-latitude="-34.9314" data-longitude="-57.9489" data-wow-duration="1000ms" data-wow-delay="400ms"></div>-->
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contacto</h2>
            
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Nombre" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Correo" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Asunto" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Coloca tu mensaje" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Enviar</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
             
                <ul class="address">
                  <!--li><i class="fa fa-map-marker"></i> <span> Dirección:</span> Nuestra dirección </li-->
                  <li><i class="fa fa-phone"></i> <span> Telefono:</span> +54 9 221 5555555  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:info@housetic.com"> info@housetic.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.housetic.com</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <!--<li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>-->
            <!--li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <!--<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>-->
            <!--li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <!--li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <!--<li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>-->
          </ul>
        </div>
      </div>
    </div>
    

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
