<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<img class="img-responsive" style="max-height: 280px;max-width: 350px;"src="images/portfolio/whatsapp/whatsapp_large.png" alt="">
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h2>W-Bot</h2>
					<h3>Servicio de respuestas inteligentes, automatizadas, por WhatsApp</h3>
					<p>Brindamos el servicio de responder a necesidades de información de las personas. Se pueden comunicar a un numero de celular (WhatsApp) y un sistema pre configurado, atenderá las consultas.</p>
					<p>Veamos unos ejemplos claros…</p>
					<p>Una persona podría enviar un mensaje de WhatsApp consultando por el clima actual en una localidad. Ademas el sistema podría mostrarle un menú con opciones adicionales, ofreciéndole si le interesa saber el pronostico para toda la semana o hasta incluso una foto en vivo de alguna cámara de la localidad.</p>
					<p>Podriamos continuar dando infinidad de ejemplos, de respuestas automáticas utilizando el servicio de WhatsApp, como por ejemplo, las personas pueden enviar su Numero de Documento Nacional, y el sistema contestrle según el padrón electoral, donde le tocara votar</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Detalles del Proyecto</h3>
					<p><span>Cliente: </span></p>
					<p><span>Fecha:</span> 15 Oct 2014</p>
					<p><span>Tags:</span> Graphic, Design, Creative</p>
				</div>  
			</div>
		</div>
	</div>
</div>
