<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h2>SMArt</h2>
					<h3>System Management ART</h3>
					<p>El SMArt es una solución a medida brindada a  <a href="http://tecnologicadelplata.org.ar/articulos-noticias/la-fundacion-desarrolla-su-propio-software">Fundación Tecnológica del Plata</a> la cual provee módulos para la gestion de usuarios, visitas, contratos, establecimientos, contactos, liquidaciones, generación de documentos de estados como así también mensajería.</p>
					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Detalles del Proyecto</h3>
					<p><span>Cliente: <a href="http://tecnologicadelplata.org.ar/">Fundación Tecnológica del Plata</a></span></p>
					<p><span>Fecha:</span> 15 Dic. 2013</p>
					<p><span>Tags:</span> Graphic, Design, Creative, Programing, Software</p>
					<a href="http://smart.housetic.com" class="btn btn-success">Ver Demo</a>
				</div>  
			</div>
		</div>
	</div>
</div>
