<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h2>BISport</h2>
					<h3>Business Intelligence Sport</h3>
					<p>El BISport es un producto para realizar análisis y estadísticas deportivas sobre rendimientos de equipos y jugadores.</p>
					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Detalles del Proyecto</h3>
					<p><span>Cliente: ---</span></p>
					<p><span>Fecha:</span> 15 Feb. 2016</p>
					<p><span>Tags:</span> Business Intelligence, Stats,Sport, Data Mining, Software</p>
					
				</div>  
			</div>
		</div>
	</div>
</div>
