<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h2>Ventas Freyja</h2>
					<h3>Sistema de Ventas Freyja-</h3>
					<p>El sistema permite realizar ventas de productos textiles, tener control de stock y notificaciones por actualización de precios.</p>
					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Detalles del Proyecto</h3>
					<p><span>Cliente: </span>Freyja Lencería</p>
					<p><span>Fecha:</span> Abril 2015 </p>
					<p><span>Tags:</span> Stock control, product sales, software</p>

				</div>  
			</div>
		</div>
		
	</div>
</div>


    
