<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h2>Cristóbal Colón</h2>
					<h3>Sistema de relevamiento del patrimonios arquitectónicos</h3>
					<p>El sistema posibilita el agrupamiento de distintos tipos de objetos de acuerdo al lugar a relevar. Como así también, la carga de fichas para la actualización de los atributos del objeto relevado, la asociación de fichas de autores y de fichas de obra.</p>
					<p>Fue creado con el objetivo de asistir en el análisis de las piezas del monumento a Cristóbal Colón, emplazado en Parque Colón, y como así también en su traslado, dado la facilidad de ubicación de las piezas para su ensamblado. Con la posibilidad de ser utilizado para el relevamiento de cualquier objeto o patrimonio del estado o privado. </p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Detalles del Proyecto</h3>
					<p><span>Cliente: </span>Facultad de Bellas Artes	</p>
					<p><span>Fecha:</span> Octubre del 2013 - Agosto del 2014</p>
					<p><span>Tags:</span> Aplicación mobil, Imagenes, Geolocalización, Encriptado y Envío de copias de respaldo</p>
					<a href="http://bellas.housetic.com" class="btn btn-success">Ver Demo</a>
				</div>  
			</div>
		</div>
	</div>
</div>
