<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h2>Recrear</h2>
					<h3>La red social que realiza aportes a la problemática del acoso escolar</h3>
					<p>Primera red social digital destinada a niñ@s de escuelas primarias donde l@s mism@s, en un ambiente divertido y distendido, se expresan y conectan con los demás compañer@s del aula</p>
					<p>Así mismo se consideran temas como maltrato escolar y otros riesgos asociados al uso de Internet y las redes sociales.</p>
					<p>Por otra parte es una herramienta que les permite a los docentes y equipo de orientación escolar de la escuela identificar, prevenir y accionar ante los problemas en el aula ocasionados por los malos tratos.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Detalles del Proyecto</h3>
					<p><span>Cliente: </span></p>
					<p><span>Fecha:</span> Diciembre del 2015</p>
					<p><span>Tags:</span> Red Social, Escuelas primarias, acoso escolar, bullying, ciberbullying</p>
					<a href="http://recrear.housetic.com" class="btn btn-success">Ver Demo</a>
				</div>  
			</div>
		</div>
	</div>
</div>
