<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h2>SIoT</h2>
					<h3>System IoT</h3>
					<p>El SIoT es un producto el cual permite automatizar luces, persianas, monitorear en tiempo real, sensar datos y efectuar avisos configurables según los parámetros deseados como así también gestionar todos los artefactos electricos.</p>
					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Detalles del Proyecto</h3>
					<p><span>Cliente: ---</span></p>
					<p><span>Fecha:</span> 15 Dic. 2015</p>
					<p><span>Tags:</span> Internet of Things, Automation,Monitor, Hardware, Programing, Software</p>
					
				</div>  
			</div>
		</div>
	</div>
</div>
